.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-header {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.layout-header-link {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    height: 40px;
}

.layout-text {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
    font-size: 18px;

}

.layout-logo {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
    font-size: 18px;
    width: 40px;
}

.layout-text:hover {
    color: #1976D2;
}

.layout-main {
    flex: 1;
}

.loading {
    padding: 20px;
    text-align: center;
    color: #666;
}